{erl_opts, [debug_info]}.
{deps, [
    {lager, "3.2.1"}
    , {lager_syslog, {git, "https://github.com/basho/lager_syslog.git", {branch, master}}}
    , {spread,       {git, "https://github.com/Littlelies/spread.git", {branch, master}}}
]}.

{relx, [{release, { spread_boilerplate, "0.1.0" },
         [spread_boilerplate,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

{plugins, [
    {relflow, ".*", {git, "https://github.com/RJ/relflow.git", {branch, "master"}}}
]}.

